<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/column-layout.css">
    <link rel="stylesheet" href="/static/css/collapsible.css">
    <title>Silken Court</title>
</head>

<body>
    <div class="row">
        <div class="column left">
        </div>
        <div class="column middle">
            
    <button type="button" class="collapsible"><strong>Julka</strong></button>
            <div class="collapsible-content">
    <h2>0:15 - Weby 1 -&gt; Rain 1</h2>
<ul>
<li>Web drop k prostředku</li>
<li>Jakmile spadne rain</li>
<li>počkat na Nevra</li>
<li>instantně popnout weby</li>
<li>jít spolu se zbytkem červený grupy pro mage orby</li>
<li>Příprava na <strong>charge</strong></li>
<li><strong>0:35 - Charge 1</strong></li>
</ul>
<h2>0:55 - Rain 2</h2>
<ul>
<li>Drop rain pod bosse</li>
<li>Rotace, sebrat modrý koule</li>
</ul>
<h2>1:25 - Rain 3 -&gt; Weby 2</h2>
<ul>
<li>Drop rain pod bosse</li>
<li>Drop web ke kraji</li>
<li>Počkat na Nevra</li>
<li>Instantně popnout weby</li>
<li>Jít sebrat mage koule</li>
<li>Příprava na <strong>charge</strong></li>
<li><strong>1:35 Charge 2</strong></li>
</ul></div> 
            
    <button type="button" class="collapsible"><strong>Nevr</strong></button>
            <div class="collapsible-content">
    <h2>0:15 - Weby 1 -&gt; Rain 1</h2>
<ul>
<li>Web drop do prdele na stack</li>
<li>Jakmile spadne rain</li>
<li>naběhnout na Julku</li>
<li>instantně popnout weby</li>
<li>jít spolu se zbytkem červený grupy pro mage orby</li>
<li>Příprava na <strong>charge</strong></li>
<li><strong>0:35 - Charge 1</strong></li>
</ul>
<h2>0:55 - Rain 2</h2>
<ul>
<li>Drop rain pod bosse</li>
<li>Rotace, sebrat modrý koule</li>
</ul>
<h2>1:25 - Rain 3 -&gt; Weby 2</h2>
<ul>
<li>Drop rain pod bosse</li>
<li>Drop web do prdele na stack</li>
<li>Naběhnout na Julku</li>
<li>Instantně popnout weby</li>
<li>Jít sebrat mage koule</li>
<li>Příprava na <strong>charge</strong></li>
<li><strong>1:35 Charge 2</strong></li>
</ul></div> 
            
    <button type="button" class="collapsible"><strong>Banan</strong></button>
            <div class="collapsible-content">
    <h2>0:15 - Weby 1 -&gt; Rain 1</h2>
<ul>
<li>Web drop doprostřed</li>
<li>Rain drop směrem k prostředku</li>
<li>Jakmile Shadow vezme orb, popnout web</li>
<li>Soaknout orby navzájem se Shadowem</li>
<li>Připravit se na <strong>charge</strong></li>
<li><strong>0:35 - Charge 1</strong></li>
</ul>
<h2>0:55 - Rain 2</h2>
<ul>
<li>Drop rain na prostředek</li>
<li>Mágové vám uhnou blinkem</li>
<li>Sebrat jejich orby</li>
</ul>
<h2>1:25 - Rain 3 -&gt; Weby 2</h2>
<ul>
<li>Drop rain na prostředek</li>
<li>Drop web <em>za</em> orb z rainu (= tak, aby byl dál od bosse)</li>
<li>Jakmile Shadow vezme orb, popnout web</li>
<li>Soaknout orby navzájem se Shadowem</li>
<li>Připravit se na <strong>charge</strong></li>
<li><strong>1:35 Charge 2</strong></li>
</ul></div> 
            
    <button type="button" class="collapsible"><strong>Uly</strong></button>
            <div class="collapsible-content">
    <h2>0:15 - Weby 1 -&gt; Rain 1</h2>
<ul>
<li>Web drop dál od bosse</li>
<li>Rain drop směrem k prostředku</li>
<li>Jakmile Wex vezme orb, popnout web</li>
<li>Soaknout orby navzájem s Wexem</li>
<li>Připravit se na <strong>charge</strong></li>
<li><strong>0:35 - Charge 1</strong></li>
</ul>
<h2>0:55 - Rain 2</h2>
<ul>
<li>Drop rain na prostředek</li>
<li>Mágové vám uhnou blinkem</li>
<li>Sebrat jejich orby</li>
</ul>
<h2>1:25 - Rain 3 -&gt; Weby 2</h2>
<ul>
<li>Drop rain na prostředek</li>
<li>Drop web <em>za</em> orb z rainu (= tak, aby byl dál od bosse)</li>
<li>Jakmile Wex vezme orb, popnout web</li>
<li>Soaknout orby navzájem s Wexem</li>
<li>Připravit se na <strong>charge</strong></li>
<li><strong>1:35 Charge 2</strong></li>
</ul></div> 
            
    <button type="button" class="collapsible"><strong>Shadow</strong></button>
            <div class="collapsible-content">
    <h2>0:05 - Frontal 1</h2>
<ul>
<li>Dodge <strong>doprava</strong></li>
</ul>
<h2>0:15 - Weby 1 -&gt; Rain 1</h2>
<ul>
<li>Drop rain pod bosse</li>
<li>Bait frontal -&gt; blink -&gt; soaknout Banánův orb</li>
<li>Banán popne web, soaknout navzájem orby</li>
<li>Příprava na <strong>charge</strong></li>
<li><strong>0:35 - Charge 1</strong></li>
</ul>
<h2>0:55 - Rain 2</h2>
<ul>
<li>Drop rain na prostředek</li>
<li>Blink pryč ze svého místa <strong>za</strong> Ulyho</li>
<li>Sebrat jeden z orbů od parťáka</li>
</ul>
<h2>1:25 - Rain 3 -&gt; Frontal bait -&gt; Weby 2</h2>
<ul>
<li><strong>Ice block</strong> rain drop</li>
<li>Jakmile boss začne castit frontal, blink na prostředek</li>
<li>Serbrat orb Banánovi</li>
<li>Banán popne web, soaknout navzájem orby</li>
<li>Příprava na <strong>charge</strong></li>
<li><strong>1:35 - Charge 2</strong></li>
</ul></div> 
            
    <button type="button" class="collapsible"><strong>Wex</strong></button>
            <div class="collapsible-content">
    <h2>0:05 - Frontal 1</h2>
<ul>
<li>Dodge <strong>doprava</strong></li>
</ul>
<h2>0:15 - Weby 1 -&gt; Rain 1</h2>
<ul>
<li>Drop rain pod bosse</li>
<li>Bait frontal -&gt; blink -&gt; soaknout Ulyho orb</li>
<li>Uly popne web, soaknout navzájem orby</li>
<li>Příprava na <strong>charge</strong></li>
<li><strong>0:35 - Charge 1</strong></li>
</ul>
<h2>0:55 - Rain 2</h2>
<ul>
<li>Drop rain na prostředek</li>
<li>Blink pryč ze svého místa <strong>za</strong> Ulyho</li>
<li>Sebrat jeden z orbů od parťáka</li>
</ul>
<h2>1:25 - Rain 3 -&gt; Frontal bait -&gt; Weby 2</h2>
<ul>
<li><strong>Ice block</strong> rain drop</li>
<li>Jakmile boss začne castit frontal, blink na prostředek</li>
<li>Serbrat orb Ulymu</li>
<li>Uly popne web, soaknout navzájem orby</li>
<li>Příprava na <strong>charge</strong></li>
<li><strong>1:35 - Charge 2</strong></li>
</ul></div> 
            
    <button type="button" class="collapsible"><strong>Team_red_web</strong></button>
            <div class="collapsible-content">
    <h2>0:15 - Weby 1</h2>
<ul>
<li>Drop weby do prdele na stack</li>
</ul>
<h2>0:25 - Rain 1</h2>
<ul>
<li>Drop rain pod bosse</li>
<li>Rotace, sebrat modrý koule</li>
</ul>
<h2>0:55 - Rain 2</h2>
<ul>
<li>Drop rain pod bosse</li>
<li>Rotace, sebrat modrý koule</li>
</ul>
<h2>1:25 - Rain 3 -&gt; Weby 2</h2>
<ul>
<li>Drop rain pod bosse</li>
<li>Drop weby do prdele na stack</li>
<li>Rotace, sebrat modrý koule</li>
</ul></div> 
            
    <button type="button" class="collapsible"><strong>Team_red</strong></button>
            <div class="collapsible-content">
    <h2>0:25 - Rain 1</h2>
<ul>
<li>Drop rain pod bosse</li>
<li>Rotace, sebrat modrý koule</li>
</ul>
<h2>0:55 - Rain 2</h2>
<ul>
<li>Drop rain pod bosse</li>
<li>Rotace, sebrat modrý koule</li>
</ul>
<h2>1:25 - Rain 3</h2>
<ul>
<li>Drop rain pod bosse</li>
<li>Rotace, sebrat modrý koule</li>
</ul></div> 
            
    <button type="button" class="collapsible"><strong>Team_blue</strong></button>
            <div class="collapsible-content">
    <h2>Frontal 1</h2>
<ul>
<li>Dodge <em>doleva</em></li>
</ul>
<h2>0:25 - Rain 1</h2>
<ul>
<li>Drop rain pod bosse</li>
<li>Rotace, sebrat červený koule</li>
</ul>
<h2>0:55 - Rain 2</h2>
<ul>
<li>Drop rain pod bosse</li>
<li>Rotace, sebrat červený koule</li>
</ul>
<h2>1:25 - Rain 3 -&gt; Frontal bait</h2>
<ul>
<li>Drop rain pod bosse</li>
<li>Bait frontal, aby nešel na prostředek</li>
<li>Rotace, sebrat červený koule</li>
<li><strong>Nezabít huntery s webem</strong></li>
</ul></div> 

        </div>
        <div class="column right">

        </div>
    </div>

    <script src="/static/js/collapsible.js"></script>
</body>

</html>