body {
    margin: 0;
    font-family: Arial
}

:root {
    --accent: #007bff;
    --accent-light: #61aeff;
}

/* Create three unequal columns that floats next to each other */
* {
    box-sizing: border-box;
}

.column {
    float: left;
    padding: 20px;
}

.left,
.right {
    width: 20%;
}

.middle {
    width: 60%;
}

.img-holder {
    width: 50%;
    margin-left: 25%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.img-in-the-middle {
    width: 50%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .middle {
        width: 100%;
    }

    .img-in-the-middle {
        width: 100%;
    }

    .left,
    .right {
        display: none;
    }

    .img-holder {
        width: 100%;
        margin-left: 0;
    }
}